*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #2e323f;
}

img {
    max-width: 100%;
}

header {
    background: #2e323f;
    color: #6f737f;
    text-align: center;
}

h1, h2, h3, h4, h5 {
    font-family: 'Oswald', sans-serif;
    color: #a59678;
    padding: 0 0 1rem 0;
}

h1 {
    font-size: 5.625rem;
    line-height: 1.1;
}

h2 {
    font-size: 2.25rem;
}

h3 {
    font-size: 1.875rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.3rem;
}

p {
    padding: .5rem 0;  
    margin: 0 0 1rem 0; 
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}

.col {
    padding: 1rem 0;
}

.logo {
    padding: 1em 0 0 0;
}

.nav__list {
    margin: 0;
    padding: 0;
    list-style: none; 
}

.nav__list--secondary {
    padding: 2em 0;
}

.nav__item {
    margin-top: .75em;
}

.nav__link {
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    color: #fff;
}

.nav__link--button {
    padding: .5rem 1.5rem;
    background: #a59678;
    border-radius: 100px;
}

.intro-section {
    background: #3b4050;
    color: #fff;
}


.titles {
    font-family: 'Oswald', sans-serif;
    font-size: 5.625rem;
    line-height: 1.1;
}

.title-accent {
    color: #fff;
}

.title-default {
    color: #a59678;
}

.btn {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    padding: .25em 1.5em;
    background: #a59678;
    border-radius: 100px;
}

.section-two {
    background: #eee;
}

.card {
    background: #3b4050;
    color: #fff;
}

footer {
    background: #2e323f;
    color: #6f737f;
}